<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="myFlickr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style_menu.css" />
    <!--   <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.2.0/css/font-awesome.min.css
" /> -->
    <link rel="stylesheet" type="text/css" href="../css/menu_topexpand.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.1/css/swipebox.min.css">
    <title>myFlickrApp</title>
</head>

<body>
    <div ng-controller="menu">
        <div class="container">
            <div class="menu-wrap">
                <nav class="menu">
                    <div class="srch">
                        <div><a id='signin' href='login/flickr'> Sign in with Flickr</a></div>
                        <input ng-model="username" type="text" placeholder="Flickr Username">&nbsp;
                        <a ng-click="getUser(username)" id="s">Search</a>
                    </div>
                    <div class="icon-list">
                        <a ng-click="all(pix)" value='all' ng-model='values.status'>All</a>
                        <a ng-repeat="x in data" ng-click="getPhotos(x.id)" value='else' ng-model='values.status'> {{x.title._content}}
            </a>
                    </div>
                </nav>
            </div>
            <button class="menu-button" id="open-button"></button>
            <div class="content-wrap">
                <div class="content">
                    <div id='right'>
                        <h1>{{username}}</h1></div>
                    <div class="gallery">
                        <a ng-repeat="x in photos" class="swipebox" ng-href="https://farm{{x.farm}}.static.flickr.com/{{x.server}}/{{x.id}}_{{x.secret}}_b.jpg"><img style="margin: 2px;" ng-src="https://farm{{x.farm}}.static.flickr.com/{{x.server}}/{{x.id}}_{{x.secret}}_z.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular-resource.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.1/js/jquery.swipebox.min.js"></script>
    <script src="config.json"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="../js/classie.js"></script>
    <script src="../js/main.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <script type="text/javascript" src="factory.js"></script>
    <script type="text/javascript" src="components/auth/auth.module.js"></script>
    <script type="text/javascript" src="components/auth/auth.service.js"></script>
    <script type="text/javascript" src="components/auth/interceptor.service.js"></script>
    <script type="text/javascript" src="components/auth/router.decorator.js"></script>
    <script type="text/javascript" src="components/auth/user.service.js"></script>
    <script type="text/javascript" src="components/mongoose-error/mongoose-error.directive.js"></script>
    <script type="text/javascript" src="components/ui-router/ui-router.mock.js"></script>
    <script type="text/javascript" src="components/util/util.module.js"></script>
    <script type="text/javascript" src="components/util/util.service.js"></script>
    <script type="text/javascript" src="app.constant.js"></script>
    <script type="text/javascript">
    $(function() {
        $('.swipebox').swipebox();
        $("body").scroll(function() {
            //  console.log('scrolled!!!!!!!!')
            classie.remove(document.body, 'show-menu');
        });
    })
    </script>
</body>

</html>
