<!DOCTYPE html>
<html ng-app="myFlickr">

<head>
  <title>Flickr</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-resource.js"></script>
  <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/swipebox/lib/jquery-2.1.0.min.js"></script>
  <script src="bower_components/swipebox/src/js/jquery.swipebox.min.js"></script>
  <link rel="stylesheet" href="bower_components/swipebox/src/css/swipebox.min.css">
  <link rel="stylesheet" href="style.css">
 <!--  <link rel="stylesheet" href="style.scss"> -->
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>-->
  <!--   // <script type="text/javascript" src="config.json"></script> -->
</head>

<body>
  <div ng-controller="menu">
    <div class="srch">
      <input ng-model="username" type="text" placeholder="Flickr Username">
      <button ng-click="getUser(username)">Search</button>
    </div>

    <ul class="cbp-vimenu">
       <h2>Sets</h2>
      <div ng-repeat="x in data">
        <li ng-click="getPhotos(x.id)"> {{x.title._content}}
        </li>
      </div>
    </ul>
    <div class="gallery">
      <a ng-repeat="x in photos" class="swipebox" ng-href="https://farm{{x.farm}}.static.flickr.com/{{x.server}}/{{x.id}}_{{x.secret}}_b.jpg"><img style="margin: 2px;" ng-src="https://farm{{x.farm}}.static.flickr.com/{{x.server}}/{{x.id}}_{{x.secret}}_z.jpg"></a>
    </div>
  </div>
  <script type="text/javascript" src="myflickr.js"></script>
  <script type="text/javascript" src="factory.js"></script>
  <script type="text/javascript">
  $(function() {

    $('.swipebox').swipebox();

  })
  </script>
</body>

</html>
